

<html>
   <head>
    <link rel="stylesheet" href="note.css">
		<meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta charset="utf-8"/>
    <title>Note - Template</title>
    <meta name="description" content="HAWRAF is a new design studio. They create work that deals with communication, interaction, and creative accessibility.">
   </head>

   <body onload="init();">
     <div class="sideways">
       <img class="nope" src="/images/words/nope.svg">
     </div>



    <div id="goodbye" class="goodbye">

<div id="index"><a href="index.html"><div id="back"><img class="back-arrow" src="back-arrow.svg" alt=""><h3>marioschmid.ch</h3></div>  </a> </div>
<h5 class="timestamp">February 19, 2019 at 5:01PM</h5
      <br>
      <br>
      <p>
        After a fruitful few years of learning how to run and operate a design studio, it’s with the utmost excitement and pleasure that we announce that, well, we’re done.
        <br>
        <br>
        As a studio, we have always strived to make honest and interesting work for clients and ourselves. (<a href="http://bit.ly/hire-hawraf" target="_blank">You can see some of that work here.</a>)
        <br>
        <br>
        We started the studio because we wanted to learn. And learn we did. We had the immense privilege of learning everything from the fine art of proposal writing to creating identity systems that react to music.
        <br>
        <br>

        <br>
        <br>
        Thank you to everyone who was a part of it, either by working with us, paying us, believing in us or some combination of the aforementioned.
        <br>
        <br>
        Onward and upward,
        <br>

      </p>

      <h2> Mein Name ist Wurst </h2>
    </div>

</html>
